body {
  color: #4fc08d;
  background: #5fd19e;
}

body * {
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
}

form {
  width: 100%;
  margin: 0;
  padding: 0;
}

button {
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid #4fc08d;
  color: #4fc08d;
  background: #fff;
  cursor: pointer;
}

.container {
  width: 350px;
  border-radius: 15px;
  margin: 150px auto 0 auto;
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(25, 25, 25, 0.25);
          box-shadow: 0 0 5px rgba(25, 25, 25, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top input {
  width: 80%;
  outline: none;
  border-bottom: 1px solie #4fc08d;
  line-height: 22px;
  font-size: 1rem;
  font-weight: 400;
  color: #4fc08d;
  border: none;
  border-bottom: 1px solid #4fc08d;
}

.top input :focus {
  outline: none;
}

.top .add {
  position: absolute;
  right: 10px;
  height: 22px;
}

.middle {
  padding: 20px 0px;
}

.todo {
  padding: 10px;
  height: 30px;
}

.todo .title {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.todo .status {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.todo .delete {
  position: absolute;
  right: 20px;
}

.todo .delete::before, .todo .delete::after {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  width: 12%;
  height: 60%;
  background-color: #ff3333;
}

.todo .delete::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.todo .delete::after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.todo .complete {
  position: absolute;
  right: 50px;
}

.todo .complete::before, .todo .complete::after {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  width: 12%;
  background-color: #4fc08d;
}

.todo .complete::before {
  height: 60%;
  -webkit-transform: translateX(1px) translateY(-6px) rotate(45deg);
          transform: translateX(1px) translateY(-6px) rotate(45deg);
}

.todo .complete::after {
  height: 36%;
  -webkit-transform: translateX(-5px) translateY(-2px) rotate(-45deg);
          transform: translateX(-5px) translateY(-2px) rotate(-45deg);
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
}

.todo-completed {
  color: #aaa;
  text-decoration: line-through;
}

.todo-completed .complete::before,
.todo-completed .complete::after {
  background-color: #aaa;
}

.filter-activated {
  background: #4fc08d;
  color: #FFFl;
}
/*# sourceMappingURL=a.css.map */