$color-main: #4fc08d;
$color-gray: #aaa;
$color-bg: #5fd19e;

body {
  color: $color-main;
  background: $color-bg;
}

body * {
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
}

form {
  width: 100%;
  margin: 0;
  padding: 0;
}

button {
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid $color-main;
  color: $color-main;
  background: #fff;
  cursor: pointer;
}

.container {
  width: 350px;
  border-radius: 15px;
  margin: 150px auto 0 auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 5px rgba(25, 25, 25, 0.25);
  box-sizing: border-box;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 10px;
  box-sizing: border-box;

  & input {
    width: 80%;
    outline: none;
    border-bottom: 1px solie $color-main;
    line-height: 22px;
    font-size: 1rem;
    font-weight: 400;
    color: $color-main;
    border: none;
    border-bottom: 1px solid $color-main;
    :focus {
      outline: none;
    }
  }
  & .add {
    position: absolute;
    right: 10px;
    height: 22px;
  }
}

.middle {
  padding: 20px 0px;
}

.todo {
  padding: 10px;
  height: 30px;

  & .title {
    top: 50%;
    transform: translateY(-50%);
  }
  & .status {
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  & .delete {
    position: absolute;
    right: 20px;
    &::before,
    &::after {
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      content: "";
      width: 12%;
      height: 60%;
      background-color: #ff3333;
    }
    &::before {
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }
    &::after {
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }
  }
  & .complete {
    position: absolute;
    right: 50px;
    &::before,
    &::after {
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      content: "";
      width: 12%;
      background-color: $color-main;
    }
    &::before {
      height: 60%;
      transform: translateX(1px) translateY(-6px) rotate(45deg);
    }
    &::after {
      height: 36%;
      transform: translateX(-5px) translateY(-2px) rotate(-45deg);
    }
  }
}

.bottom {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.todo-completed {
  color: $color-gray;
  text-decoration: line-through;
  & .complete::before,
  .complete::after {
    background-color: $color-gray;
  }
}

.filter-activated {
  background: $color-main;
  color: #FFFl
}
